<section class="fadeinleft animation-duration-1000 animation-iteration font-bold border-round">
  <div class="text-2xl font-bold uppercase color-title">{{title}}</div>

  <div class="mb-6">
    <app-galleria></app-galleria>
  </div>

  <div class="mt-4" *ngFor="let item of projectFinished; let i = index">
    <div [ngClass]="{'style-content': i % 2 !== 0}" class="style">
      <div class="flex flex-column">
        <div class="font-bold">{{item.title}}</div>

        <div class="mt-6 text-400">
          <p class="mb-5"> {{item.textFirst}}
            <a class="no-underline text-600" pTooltip="Ver" href="{{item.linkSchool}}">{{item.school}}</a>
          </p>
          <p class="mb-5">{{item.textSecond}}</p>

          <span class="text-600 font-bold uppercase">{{item.languages}}</span>

          <div class="aling-icons mt-4 mb-5">
            <a pTooltip="{{item.tooltipTextOne}}" target="_blank" tooltipPosition="bottom" href="{{item.linkApp}}"><i class="pi pi-link text-400 font-bold text-2xl"></i></a>
            <a pTooltip="{{item.tooltipTextTwo}}" target="_blank" tooltipPosition="bottom" href="{{item.linkRepo}}"><i class="pi pi-code text-400 font-bold text-2xl"></i></a>
          </div>
        </div>
      </div>

      <p-image src="{{item.img}}" alt="Image" width="280" height="250"></p-image>
    </div>
  </div>

  <p-divider class="iconProject" tooltipPosition="bottom" (click)="toggleProjectsVisibility()" align="center">
    <p class="mt-4 mb-5 text-2xl">{{buttonText}}</p>
  </p-divider>
</section>
