.content-full {
  position: relative;
  background-image: url('../../../assets/fundo.jpg');
}

.page-init {
  position: relative;
  margin: 0 10%;
  padding: 0 2%;
  background-color: #fff;
  min-height: 200vh;
}
